<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="css/styles.css"></link>
</head>
<body>
    {{>header}}
    {{{ body }}}

</body>
</html>
